<h1>about works!</h1>
<ul>
  <li>User1: <span [ngStyle]="user1.activeStyle">{{ user1.name }} (color: {{ user1.activeStyle.color }})</span> </li>
  <li>User2: <span [ngStyle]="user2.activeStyle">{{ user2.name }}(color: {{ user2.activeStyle.color }}) </span> </li>
</ul>
<button (click)="switchStyle()">Switch style</button>
<div>
  <label for="">New user1 name</label>
  <input type="text" [(ngModel)]="user1.name">
</div>

<p>{{ today }}</p>
<p>{{ today | date:'longDate' }}</p>
<p>{{ today | date:'shortTime' }}</p>
<p>{{ today | date:'fullDate' }}</p>
