<h1>about works!</h1>
<ul>
  <li *ngFor="let user of users">User: <span [ngStyle]="user.activeStyle">{{ user.name }} (color: {{
      user.activeStyle.color }})</span> </li>
</ul>
<button *ngIf="showButton" (click)="switchStyle()">Switch style</button>
<div>
  <label for="">New user1 name</label>
  <input type="text" [(ngModel)]="users[0].name">
</div>

<p>{{ today }}</p>
<p>{{ today | date:'longDate' }}</p>
<p>{{ today | date:'shortTime' }}</p>
<p>{{ today | date:'fullDate' }}</p>

<hr>
<div *ngIf="choice === 'DSI33'; then choiceAngular; else otherChoice"></div>
<ng-template #choiceAngular>
  <p>You chose Angular</p>
</ng-template>
<ng-template #otherChoice>
  <p>No Angular</p>
  <p>You chose {{ choice }}</p>
</ng-template>
